b {
    font-weight: 900;
}

#fale-conosco {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    justify-content: space-around;   
    margin: 0 auto;
    font-family: 'Qanelas-medium', Calibri;
}

#titulo-fale-conosco {
    background-color: #b872a2;
    color: #fff;
    font-size: 1.6em;
    font-family: 'Qanelas-bold', Calibri;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 0 auto -30px auto;
    padding: 0.8% 3%;
    height: 85%;
}

#linha-fale-conosco {
    width: 100%;
    border: 2px dashed #630343;
    border-style: none none dashed;
    margin-bottom: 4%;
    z-index: -1;
}

#frase-formulario {
    flex-basis: 100%;
    text-align: center;
    color: #630043;
    margin-bottom: 4%;
}

/* INÍCIO FORMULÁRIO */
#formulario {
    font-family: Qanelas-bold;
    text-align: right;
    color: #630043;
    flex-basis: 50%;
}

.campos-forms {
    border-radius: 9px;
    border-color: rgb(138, 128, 128);
    border-width: 1px;
    margin: 0 0 5px 10px;
    padding: 10px 25px;
    width: 50%;
    vertical-align: top;
}

#msg {
    resize: none;
}

.btn-enviar {
    display: block;
    background-color: #3f8532;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    width: 15%;
    height: 8%;
    margin: 5% auto;
}

#formulario label {
    display: inline-block;
    margin-top: 6px;
}
/* FIM FORMULÁRIO */

/* INÍCIO CONTATOS (redes sociais, endereço...) */
#contatos {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    /* padding-right: 4%; */
}

#redes-sociais {
    flex-basis: 100%;
}

#redes-sociais img {
    width: 10%;
    margin-right:4%;
}

#outros-contatos {
    color: #696969; /* ou #4F4F4F */
}

#outros-contatos a {
    text-decoration: none;
    color: #696969;
}

#outros-contatos p {
    margin-top: 6%;
    color: #696969;
}

#endereco {
    color: #696969;
}
/* FIM CONTATOS (email, telefone...) */