/*Banner*/
#banner {
    width: 100%;
    position: relative;
  /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img {
    position: relative;
    width: 100%;
}

.banner-txt {
    text-align: left;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-55%, -30%);
    color: #630043;
}


/* Padrão desktop (mais de 960px) */
#banner-titulo{
    text-transform: uppercase;
    font-size: 60px;
    max-width: 60%;
    top: 47%;
    padding-bottom: 15px;
}

#banner-subtitulo{
    font-size: 32px;
    max-width: 80%;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .banner-txt{
        top: 40%;
    }

    #banner-titulo {
        font-size: 50px;
        max-width: 60%;
        top: 45%;
    }
    #banner-subtitulo {
        font-size: 25px;
        max-width: 80%;
        top: 40%;
    }
}

/* Mobile Tablet (devices and browser) */
@media only screen and (max-width: 800px) {
    #banner-titulo{
        font-size: 40px;
        max-width: 60%;
        top: 40%;
    }
    #banner-subtitulo {
        font-size: 20px;
        max-width: 80%;
        top: 38%;
    }
}

/* Mobile (devices and browser) */
@media only screen and (max-width: 550px) {
    
    #banner-titulo {
        font-size: 27px;
        max-width: 70%;
    }
    #banner-subtitulo {
        font-size: 14px;
        max-width: 80%;
        top: 20%;
    }
}

@media only screen and (max-width: 375px) {
    
    #banner-titulo {
        font-size: 20px;
        max-width: 70%;
    }
    #banner-subtitulo {
        font-size: 10px;
        max-width: 80%;
        top: 20%;
    }
}

/* PITCH */
.pitch {
    margin-top: 7%;
    display: flex;
    margin-bottom: 5%;
    position: relative;
}

.img-pitch{
    width: 37%;
    height: auto;
    margin-left: 10%;
    margin-right: 5%;
    float: left;
}

.desc-pitch {
    float: right;
    vertical-align: top;
    color: #7f005b;
    font-size: 1.8em;
    margin-right: 7%;
    text-align: right;
}

.desc-pitch b {
    color: #b872a2;
}

.solucoes {
    color: #3f8532;
}

@media only screen and (max-width: 1250px){

    .img-pitch-mobile{
        width: 50%;
        height: auto;
        left:15%;
        top:22%;
        position: absolute;
    }
    
    .pitch-superior{
        margin-bottom: 25%;
    }
    
    .pitch-inferior{
        margin-top: 20%;
    }
    
    .desc-pitch{
        font-size: 1.8em;
        text-align: center;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 850px) {
    .img-pitch-mobile {
        top:20%;
    } 
}

@media only screen and (max-width: 700px) {
    .img-pitch-mobile {
        top:23%;
    }

    .desc-pitch {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 550px) {
    .img-pitch-mobile {
        top:21%;
    }
    
    .desc-pitch {
        font-size: 1em;
    }
}

@media only screen and (max-width: 350px) {
    .img-pitch-mobile{
        top:25%;
    }
}

/* MVV */
#traco-mvv {
    background-color: #B872A2;
  	height: 13px;
    border: 0;
    border-radius: 10px;
    width: 85%;
    margin: 3% auto;
}

#mvv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#missao {
    width: 35%;
}

#visao {
    width: 35%;
}

#valores {
    width: 50%;
}

.titulo-item-mvv {
    color: #630042;
    text-align: center;
    font-size: 2.2em;
    text-transform: uppercase;
}

.subtitulo-item-mvv {
    color: #bbb;
    text-align: center;
    font-size: 1.8em;
}

.desc-mvv {
    color: white;
    position: absolute;
    line-height: 1.3;
}

#div-missao {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#div-missao .desc-mvv {
    top: 20%;
    left: 15%;
    right: 30%;
}

#div-visao {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#div-visao .desc-mvv {
    top: 25%;
    left: 38%;
    right: 20%;
    text-align: right;
}

#div-valores {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#div-valores .desc-mvv {
    top: 35%;
    left: 20%;
    right: 30%;
}

.lista-mvv {
    list-style-type: disc;
}

.imagem-mvv-missao {
    width: 100%;
}

.imagem-mvv-visao {
    width: 100%;
}

.imagem-mvv-valores {
    width: 100%;
    margin-top: -8%;
}

.imagem-mvv-missao-mobile, .imagem-mvv-visao-mobile, .imagem-mvv-valores-mobile {
    opacity: 0;
    height: 0;
}

@media only screen and (max-width: 1199px) {
    .desc-mvv {
        font-size: 0.9em;
    }

    #div-valores .desc-mvv {
        top: 30%;
    }
} 

@media only screen and (max-width: 1024px) {
    #div-missao .desc-mvv {
        top: 15%;
    }

    #div-visao .desc-mvv {
        top: 15%;
    }

    #div-valores .desc-mvv {
        top: 26%;
    }
}

@media only screen and (max-width: 900px) {
    .desc-mvv {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 768px) {
    #mvv {
        margin-top: 3%;
    }

    .titulo-item-mvv {
        font-size: 2.8em;
        margin-top: 5%;
    }

    .subtitulo-item-mvv {
        font-size: 2em;
    }

    #missao, #visao, #valores {
        width: 100%;
        text-align: center;
    }

    .desc-mvv {
        font-size: 1em;
    }

    #div-missao .desc-mvv {
        text-align: center;
        top: 20%;
        left: 30%;
    }

    #div-visao .desc-mvv {
        text-align: center;
        top: 30%;
        right: 30%;
        left: 30%;
    }

    #div-valores .desc-mvv {
        text-align: left;
        top: 24%;
        left: 38%;
    }

    .imagem-mvv-missao, .imagem-mvv-visao, .imagem-mvv-valores {
        opacity: 0;
        height: 0;
    }

    .imagem-mvv-missao-mobile, .imagem-mvv-visao-mobile, .imagem-mvv-valores-mobile {
        opacity: 1;
        width: 70%;
        height: auto;
        margin-top: -5%;
    }

    .imagem-mvv-valores-mobile {
        margin-top: -1%;
    }
} 

@media only screen and (max-width: 585px) {
    .titulo-item-mvv {
        font-size: 2.5em;
    }

    .subtitulo-item-mvv {
        font-size: 1.6em;
    }

    #div-missao .desc-mvv {
        top: 20%;
        left: 20%;
        right: 20%;
    }

    #div-visao .desc-mvv {
        top: 30%;
        right: 20%;
        left: 20%;
    }

    #div-valores .desc-mvv {
        top: 22%;
        left: 25%;
        right: 20%;
    }
  
    .imagem-mvv-missao-mobile, .imagem-mvv-visao-mobile, .imagem-mvv-valores-mobile {
        width: 80%;
    }
}

@media only screen and (max-width: 420px) {
    .titulo-item-mvv {
        font-size: 2em;
    }

    .subtitulo-item-mvv {
        font-size: 1.2em;
    }

    .desc-mvv {
        font-size: 0.8em;
    }

    #div-valores .desc-mvv {
        top: 25%;
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 769px) {
    #missao .titulo-item-mvv, #missao .subtitulo-item-mvv {
        padding-right: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    .desc-mvv {
        font-size: 1.1em;
    }

    #div-valores .desc-mvv {
        top: 30%;
        left: 20%;
    }
} 

/* Seção Rotativa dos Membros */
.secao-fotos-membros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}

.descricao-fotos-membros{
    width: 90%;
    height: auto;
    text-align: center;
    color: #7f005b;
    font-size: 1.6em;
    margin: 30px auto;
}

.section-padding{
    padding:50px 0px 20px;
}

.brand-carousel {
    margin-top: 10px;
    background-color: #e2e1e1;
}

.owl-dots {
    text-align: center;
    margin-top: 4%;
}
    
.owl-dot {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #878787 !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
}
    
.owl-dot.active {
    background-color: #000 !important;
}

.owl-carousel .owl-item img{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.owl-carousel p{
    text-align: center;
}

.nome-membro{
    font-size: 1.2em;
    margin-top: 20px;
    color: #630043;
}

.cargo-membro{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #B872A2;
}

.linkedin-membro {        
    text-decoration: none;
    font-size: 1em;
    margin-top: 10px;
    color: #944A7C;
}

@media only screen and (min-width: 800px){
    .owl-carousel .owl-item img{
        width: 180px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 700px) {
    .descricao-fotos-membros {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 550px) {
    .descricao-fotos-membros {
        font-size: 1em;
    }
}

/* FILIAÇÕES */
.filiacoes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 6% auto;
    justify-content: space-evenly;
}

.titulo-secao {
    flex-basis: 100%;
    color: #630043;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.traco-secao {
    background-color: #febdf2;
  	height: 13px;
    border: 0;
    border-radius: 10px;
    width: 50%;
    margin-top: -11px;
    z-index: -1;
}

.subtitulo-secao {
    flex-basis: 100%;
    color: #bbb;
    font-size: 2em;
    line-height: 80%;
}

.item-filiacao {
    width: 20%;
    border: none;
    border-radius: 20px;
    background-color: #DEECDC;
    padding: 1%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.imagem-item-filiacao {
    height: 30%;
    width: 100%;
    object-fit: contain;
    padding: 5% 0;
}

.desc-item-filiacao {
    color: #3F8532;
}

@media only screen and (max-width:1024px) {
    .item-filiacao {
        flex-basis: 32%;
    }
}

@media only screen and (max-width:798px) {
    .traco-secao {
        width: 70%
    }

    .titulo-secao {
        font-size: 2em;
    }

    .subtitulo-secao {
        font-size: 1.5em;
    }

    .item-filiacao {
        flex-basis: 55%;
        height: 250px; 
    }
}

@media only screen and (max-width:500px) {
    .traco {
        width: 86%;
    }

    .titulo-secao {
        font-size: 1.8em;
    }

    .subtitulo-secao {
        font-size: 1.3em;
    }

    .item-filiacao {
        flex-basis: 80%;
    }
}

/* PREMIAÇÕES */
#premiacoes {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    justify-content: space-evenly;   
    margin: 0 auto;
    align-items: flex-start; 
}

#titulo-premiacoes {
    background-color: #630043;
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 0 auto -30px auto;
    padding: 0.8% 3%;
    height: 85%;
    text-transform: uppercase;
}

#linha-premiacoes {
    width: 80%;
    border: 2px dashed #B872A2;
    border-style: none none dashed;
    margin-bottom: 4%;
    z-index: -1;
}

.premio {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 40%;
}

.imagem-premio {
    height: 15%;
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .premio {
        width: 80%;
    }
}

.titulo-premio {
    color: #630043;
    font-size: 1.5em;
}

.desc-premio {
    color: #B872A2;
    margin-top: 2%;
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    .imagem-premio {
        width: 50%;
    }

    .desc-premio {
        max-width: 100%;
    }
}

#hashtag {
    color: gray;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 5% 0 5% 0;
}