/*Banner*/
#banner {
    width: 100%;
    position: relative;
  /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img {
    position: relative;
    width: 100%;
}

/*---BANNER---*/

.banner-txt {
    text-align: left;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-55%, -30%);
    color: #630043;
}


/* Padrão desktop (mais de 960px) */
#banner-titulo{
    text-transform: uppercase;
    font-size: 60px;
    max-width: 60%;
    top: 47%;
    padding-bottom: 15px;
    font-weight: bold;
}

#banner-subtitulo{
    font-size: 32px;
    max-width: 80%;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .banner-txt{
        top: 40%;
    }

    #banner-titulo {
        font-size: 50px;
        max-width: 60%;
        top: 45%;
    }
    #banner-subtitulo {
        font-size: 25px;
        max-width: 80%;
        top: 40%;
    }
}

/* Mobile Tablet (devices and browser) */
@media only screen and (max-width: 800px) {
    #banner-titulo{
        font-size: 40px;
        max-width: 60%;
        top: 40%;
    }
    #banner-subtitulo {
        font-size: 20px;
        max-width: 80%;
        top: 38%;
    }
}

/* Mobile (devices and browser) */
@media only screen and (max-width: 550px) {
    
    #banner-titulo {
        font-size: 27px;
        max-width: 70%;
    }
    #banner-subtitulo {
        font-size: 14px;
        max-width: 80%;
        top: 20%;
    }
}

@media only screen and (max-width: 375px) {
    
    #banner-titulo {
        font-size: 20px;
        max-width: 70%;
    }
    #banner-subtitulo {
        font-size: 10px;
        max-width: 80%;
        top: 20%;
    }
}

/*Filiações*/
#filiacoes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 6% auto;
    justify-content: space-evenly;
}

#titulo-filiacoes {
    flex-basis: 100%;
    color: #630043;
    font-size: 2.3em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Qanelas-bold';
    text-transform: uppercase;
}

#traco-filiacoes {
    background-color: #febdf2;
    height: 13px;
    border: 0;
    border-radius: 10px;
    width: 30%;
    margin-top: -15px;
    z-index: -1;
}

#subtitulo-filiacoes {
    flex-basis: 100%;
    color: #BBB;
    font-size: 1.8em;
}

.item-filiacao {
    flex-basis: 20%;
    width: 20%;
    border: none;
    border-radius: 20px;
    background-color: #DEECDC;
    padding: 1%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.imagem-item-filiacao {
    height: 30%;
    width: 100%;
    object-fit: contain;
    padding: 5% 0;
}

.desc-item-filiacao {
    color: #3F8532;
}

@media only screen and (max-width:1024px) {
    .item-filiacao {
        flex-basis: 32%;
    }
}

@media only screen and (max-width:798px) {
    .item-filiacao {
        flex-basis: 55%;
    }
}

@media only screen and (max-width:500px) {
    .item-filiacao {
        flex-basis: 80%;
    }
}

/* PREMIAÇÕES */
#premiacoes {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    justify-content: space-evenly;   
    margin: 0 auto;
    font-family: 'Qanelas-medium', Calibri;    
}

#titulo-premiacoes {
    background-color: #630043;
    color: #fff;
    font-size: 1.6em;
    font-family: 'Qanelas-bold', Calibri;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 0 auto -30px auto;
    padding: 0.8% 3%;
    height: 85%;
    text-transform: uppercase;
}

#linha-premiacoes {
    width: 80%;
    border: 2px dashed #B872A2;
    border-style: none none dashed;
    margin-bottom: 4%;
    z-index: -1;
}

.premio {
    display: inline-block;
    width: 40%;
    text-align: center;
    height: 40%;
}

.imagem-premio {
    height: 15%;
    width: 30%;
}

.titulo-premio {
    color: #630043;
    font-family: 'Qanelas-bold', Calibri;
    font-size: 1.5em;
}

.desc-premio {
    color: #B872A2;
    margin-top: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#hashtag {
    color: gray;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 5% 0 5% 0;
}