@font-face {
    font-family: Qanelas-light;
    src: url(QanelasSoftUltraLight.otf)
}

@font-face {
    font-family: Qanelas-bold;
    src: url(QanelasSoftBold.otf)
}

@font-face {
    font-family: Qanelas-medium;
    src: url(QanelasSoftMedium.otf)
}

body {
    font-family: 'Qanelas-medium';
}

.pitch {
    margin-top: 7%;
    display: flex;
    margin-bottom: 5%;
}

.paragrafos {
    justify-content: flex-wrap;
}

.img-pitch{
    width: 37%;
    height: auto;
    margin-left: 10%;
    margin-right: 5%;
    float: left;
}

.desc-pitch {
    float: right;
    vertical-align: top;
    color: #7f005b;
    font-size: 1.8em;
    margin-right: 7%;
    text-align: right;
}

.desc-pitch b {
    color: #b872a2;
}

.solucoes {
    color: #3f8532;
    font-weight: bold;
}

#fale-conosco {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    justify-content: center;   
    margin: 0 auto;
}

#titulo-fale-conosco {
    background-color: #b872a2;
    color: #fff;
    font-size: 2em;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 0 auto -30px auto;
    padding: 0.5% 2%;
    height: 85%;
}

#linha-fale-conosco {
    width: 100%;
    border: 2px dashed #630343;
    border-style: none none dashed;
    margin-bottom: 4%;
    z-index: -1;
}

#frase-formulario {
    flex-basis: 100%;
    text-align: center;
    color: #b872a2;
    margin-bottom: 4%;
}

#formulario {
    font-family: Qanelas-bold;
    text-align: right;
    color: #630043;
}

.campos-forms {
    border-radius: 9px;
    border-color: rgb(138, 128, 128);
    border-width: 1px;
    margin: 0 0 5px 10px;
    padding: 10px 25px;
    width: 50%;
    vertical-align: top;
}

#formulario label {
    display: inline-block;
    margin-top: 6px;
}