b {
    font-weight: bold; 
 }

#CARP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 2% 4% 5% 4%;
}

#desc-CARP {
    flex-basis: 100%;
    color: #630043;
}

#desc-CARP .txt-verde {
    color: green;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.desc-item-CARP {
    padding-top: 5%;
    padding-bottom: 5%;
}

.item-CARP {
    flex-basis: 21%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5%;
    margin-top: 4%;
}

.item-CARP:hover {
    background-color: #F6EDF3;
}

@media only screen and (max-width: 950px) {
    .item-CARP {
        flex-basis: 35%;
    }
}

@media only screen and (max-width: 480px) {
    .item-CARP {
        flex-basis: 90%;
    }
}

.img-CARP {
    width: 100px;
    margin-bottom: 2%;
}

.titulo-CARP {
    background-color: #630043;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 3%;
}

.item-lista-detalhes-CARP {
    padding-left: 1em;
    text-indent: -1em;
    font-weight: bold;
}

.item-lista-detalhes-CARP:before {
    content: ">";
    color: green;
    font-weight: bolder;
}

/* INÃCIO JORNADA DO CLIENTE DETALHADA */
#jornada-cliente-detalhada {
    text-align: center;
    margin: 0 4%;
}

#titulo-jornada-cliente-detalhada {
    color: #630043;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.traco {
    background-color: #febdf2;
  	height: 13px;
    border: 0;
    border-radius: 10px;
    width: 80%;
    margin-top: -11px;
}

#subtitulo-jornada-cliente-detalhada {
    color: #bbb;
    font-size: 2em;
    line-height: 80%;
    margin-bottom: 5%;
}

#jornada-completa {
    background-image: url("img/servicos/background_jornada.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.item-jornada-imagem {
    width: 15%;
    height: auto;
    display: inline-block;
    padding: 0 3% 8% 2%;
}

.item-jornada-conteudo {
    text-align: left;
    /* flex-basis: 21%; */
    border: 3px solid #F6EDF3;
    border-radius: 15px;
    padding: 1.5%;
    margin-top: 4%;
    background-color: white;
    display: inline-block;
    width: 60%;
}

.item-jornada-conteudo:nth-child(odd) {
    margin-left: -35%;
    padding-left: 30%;
}

.item-jornada-conteudo:nth-child(even) {
    margin-right: -35%;
    padding-right: 15%;
}

.item-jornada-conteudo:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1200px) {
    .item-jornada-conteudo {
        /* padding: 1.5%;
        margin-top: 4%; */
        width: 95%;
        z-index: -1;
    }

    .item-jornada-imagem {
        float: right;
        z-index: 2;
    }
}

.item-jornada-titulo {
    color: #630043;
    margin-bottom: 1%;
    font-weight: 1000;
    font-size: 1.6em;
}

.item-jornada-paragrafo {
    color: #B872A2;
    margin-bottom: 2%;
    font-size: 1.1em;
}

.item-jornada-paragrafo:nth-child(even) {
    padding-right: 15%;
}
 
.item-jornada-lista li {
    color: #630043;
    padding-left: 1em;
    text-indent: -1em;
}

.item-jornada-lista li:before {
    content: "> ";
    color: green;
    font-weight: bolder;
}

.orcamento-jornada {
    margin-bottom: 4%;
}