/* FONTE */
@font-face {
    font-family: Qanelas-light;
    src: url(QanelasSoftUltraLight.otf)
}

@font-face {
    font-family: Qanelas-bold;
    src: url(QanelasSoftBold.otf)
}

@font-face {
    font-family: Qanelas-medium;
    src: url(QanelasSoftMedium.otf)
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Qanelas-medium';
    overflow-x: hidden;
}

/*Cor+fundo da fonte quando for selecionada com o mouse*/
::-moz-selection {
    background-color: #630043;
    color: white;
}

/*Cor+fundo da fonte quando for selecionada*/
::selection {
    background-color: #630043;
    color: white;
}

#CARP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

#desc-CARP {
    flex-basis: 100%;
    color: #630043;
}

#desc-CARP .txt-verde {
    color: green;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.desc-item-CARP {
    padding-top: 5%;
    padding-bottom: 5%;
}

.item-CARP {
    flex-basis: 21%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5%;
    margin-top: 4%;
}

.item-CARP:hover {
    background-color: #F6EDF3;
}

@media only screen and (max-width: 950px) {
    .item-CARP {
        flex-basis: 35%;
    }
}

@media only screen and (max-width: 480px) {
    .item-CARP {
        flex-basis: 90%;
    }
}

.img-CARP {
    width: 100px;
    margin-bottom: 2%;
}

.titulo-CARP {
    background-color: #630043;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 3%;
}

.item-lista-detalhes-CARP {
    padding-left: 1em;
    text-indent: -1em;
    font-weight: bold;
}

.item-lista-detalhes-CARP:before {
    content: ">";
    color: green;
    font-weight: bolder;
}

/* INÍCIO JORNADA DO CLIENTE DETALHADA */
#jornada-cliente-detalhada {
    text-align: center;
}

#titulo-jornada-cliente-detalhada {
    color: #630043;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.traco {
    background-color: #febdf2;
  	height: 13px;
    border: 0;
    border-radius: 10px;
    width: 80%;
    margin-top: -11px;
}

#subtitulo-jornada-cliente-detalhada {
    color: #bbb;
    font-size: 2em;
    line-height: 80%;
    margin-bottom: 5%;
}

/*Banner*/
#banner {
    width: 100%;
    position: relative;
  /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Qanelas-medium', Calibri;
}

.banner-img {
    position: relative;
    width: 100%;
}

/*---BANNER---*/

.banner-txt {
    text-align: left;
    position: absolute;
    left: 35%;
    top: 40%;
    transform: translate(-55%, -30%);
    color: #fff;
}


/* Padrão desktop (mais de 960px) */
#banner-titulo{
    text-transform: uppercase;
    font-size: 60px;
    max-width: 60%;
    top: 47%;
    padding-bottom: 15px;
    font-weight: bold;
}

#banner-subtitulo{
    font-size: 32px;
    max-width: 80%;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .banner-txt{
        top: 40%;
    }

    #banner-titulo {
        font-size: 50px;
        max-width: 60%;
        top: 45%;
    }
    #banner-subtitulo {
        font-size: 25px;
        max-width: 80%;
        top: 40%;
    }
}

/* Mobile Tablet (devices and browser) */
@media only screen and (max-width: 800px) {
    #banner-titulo{
        font-size: 40px;
        max-width: 60%;
        top: 40%;
    }
    #banner-subtitulo {
        font-size: 20px;
        max-width: 80%;
        top: 38%;
    }
}

/* Mobile (devices and browser) */
@media only screen and (max-width: 550px) {
    
    #banner-titulo {
        font-size: 27px;
        max-width: 70%;
    }
    #banner-subtitulo {
        font-size: 14px;
        max-width: 80%;
        top: 20%;
    }
}

@media only screen and (max-width: 375px) {
    
    #banner-titulo {
        font-size: 20px;
        max-width: 70%;
    }
    #banner-subtitulo {
        font-size: 10px;
        max-width: 80%;
        top: 20%;
    }
}