html, body {
    /* height: 100%; */
    font-family: 'Open Sans', sans-serif;
    /* box-sizing: border-box; */
}

.jornada-cliente {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
    border-radius: 2px;
}

/* é útil? excluir se não estiver alinhando */
.jornada-cliente::after {
    content: '';
    display: table;
    clear: both;
}

#linha {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* corrigir tamanho */
#linha::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    width: 14px;
    background: #7F005B;
    background-image: linear-gradient(#fff, #b872a2, #7f005b, #630043);
}

@media only screen and (min-width: 1024px) {
    #linha {
        margin-top: 3em;
        margin-bottom: 3em;
   }
    #linha::before {
        left: 49.4%;
   }
}

.item-jornada {
    position: relative;
    margin: 2em 0;
}

/* é útil? excluir se não estiver alinhando */
.item-jornada:after {
    content: "";
    display: table;
    clear: both;
}

.item-jornada:first-child {
    margin-top: 0;
}

/* corrigir tamanho da linha, depois de usar bolinha */
.item-jornada:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
    .item-jornada {
        margin: 4em 0;
   }
    .item-jornada:first-child {
        margin-top: -8%;
   }
    .item-jornada:last-child {
        margin-bottom: -8%;
   }
}

.bolinha {
    position: absolute;
    top: 8px;
    left: 3.6%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #B872A2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #fff;
}

@media only screen and (min-width: 1024px) {
    .bolinha {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        /* Force Hardware Acceleration in WebKit */
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
   }
}

.item-jornada-conteudo {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    border-radius: 2px;
    padding: 1em;
}

/* é útil? excluir se não estiver alinhando */
.item-jornada-conteudo:after {
    content: "";
    display: table;
    clear: both;
}

/* ajustar tamanho da letra para outros tamanhos de tela (menores) */
.item-jornada-conteudo h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
    color: #630043;
}

.item-jornada-conteudo p {
    font-size: 16px;
    margin: 1em 0;
    line-height: 1.6;
    color: #7F005B;
}

.item-jornada-conteudo .imagem {
    display: inline-block;
}

.item-jornada-conteudo img {
    width: 50%;
}

.item-jornada-conteudo .imagem {
    width: 70%;
}

@media only screen and (max-width: 1024px) {
    .item-jornada-conteudo h3 {
        font-size: 20px;
    }
    .item-jornada-conteudo p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1024px) {
    .item-jornada-conteudo {
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%;
    }

    .item-jornada-conteudo .imagem {
        position: absolute;
        width: 100%;
        left: 122%;
        top: -60px;
    }

    .item-jornada:nth-child(odd) .item-jornada-conteudo {
        float: right;
    }

    .item-jornada:nth-child(odd) .item-jornada-conteudo .imagem {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .item-jornada:nth-child(even) .item-jornada-conteudo p, .item-jornada:nth-child(even) .item-jornada-conteudo h3 {
        text-align: right;
    }
}

#descricao {
    text-align: center;
    margin-bottom: 10%;
    color: #3F8532;
}