/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: 'Open Sans', sans-serif;
}


/*CAIXA DA HEADER*/

.caixa{
    width: 100%;
    height: 80px;
    background-color: #630043;
    top: 0;  /* por ser a header, top 0 */
    z-index: 100; /* deixar menu fixo */
    display: inline-block; /* centralizar */
	flex-wrap: wrap; /* centralizar */
    position: relative; /* centralizar */
    box-shadow: 5px 1px 15px  #630043; /* sombra */
}


/* --- INÍCIO DO MENU --- */

.logo {
    height: 50px;
    width: 187px;
    float: left;
}

.img-logo{
    width: 120%;
    margin-top: -4px;
    margin-left: 25px;
}

.menu {
    width: auto;
    height: 80px;
    position: relative;
    float: right;
    margin: 33px 40px 20px 20px;
}

.menu ul{
    width: auto;
    height: 80px;
    list-style: none;
    position: relative;
    float: right;
}

.menu li {
    display: inline;
    padding: 25px;
}

.menu ul li a{
    width: auto;
    height: 80px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.item-menu:hover{
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
    /* top: 30px; */
}

.icone-menu{
    float: right;
    margin-right: -5px;
    margin-top: -4px;
    display: none;
    cursor: pointer;
}



#check{
    display: none;
}

/* --- FIM DO MENU --- */

.box-footer{
    width: 100%;
    height: 110px;
    background-color: #85CC79;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 10px auto 0px;
    box-shadow: 5px 1px 15px  #85CC79; /* sombra */
}

.div-footer{
    width: 33%;
    height: auto;
    position: block;
    float: left;
    position: relative;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.div-footer3{
    width: 200px;
    height: auto;
    float: right;
}

.footer-txt{
    font-size: 13px;
    color: #fff;
}

.txt-top{
    margin-top: 5px;
}
.redes-sociais{
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.direitos-autorais{
    width: auto;
    height: auto;
    margin-top: -7px;
}

.logo-rodape{
    width: 187px;
    height: 50px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.contatos{
    width: auto;
    height: auto;
    margin-top: 20px;
}

.enderecos{
    width: auto;
    height: auto;
    margin-top: 15px;
}

.txt-end{
    max-width: auto;
    margin-top: -8px;
}

.social{
    width: 32px;
    height: 32px;
    margin: 20px 8px 0px 0px;
}

@media (max-width: 750px){

    .box-footer{
        height: auto;
    }

    .div-footer, .div-footer3{
        width: 100%;
    }

    .footer-txt{
        margin-top: 10px;
    }

    .direitos-autorais{
        margin-top: 5px;
    }

    .footer-txt, .txt-end{
        text-align: center;
        width: 100%;
        background-color: #630043;
    }
}

/* Responsividade para Mobile*/


@media (max-width: 1024px){

    .img-logo {
        width: 97%;
        margin: 2px 10px;
    }
    
    .icone-menu{
        display: inline;
    }

    .menu ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #630043;
        text-align: center;
        transition: all .0s;
        right: -100%; /* não está sendo exibido, só vai ser exibido quando clicar no menu*/
        top:80px;
    }

    .menu ul li{
        display: block;
        margin: 0px;
    }

    .item-menu:hover{
        background-color:#d2a6c4 ;
        border-bottom: none;
    }
    
    .item-menu{
        border-top: 1px solid #d2a6c4;
    }

    .item-menu2{
        border-bottom: 1px solid #d2a6c4;
    }

    #check:checked ~ ul{
        right: 0;
        transition: all .5s;
    }
    

}