/*CARP*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Cor+fundo da fonte quando for selecionada com o mouse*/
::-moz-selection {
    background-color: #630043;
    color: white;
}

/*Cor+fundo da fonte quando for selecionada*/
::selection {
    background-color: #630043;
    color: white;
}

.CARP {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #ffe6f9;
}

.CARP-inner {
    padding: 4% 15%;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 2%;
}

#CARP-inner-title {
    color: #630043;
    font-size: 150%;
    font-weight: normal; 
}

.verde-bold {
    color: #459437;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.CARP-inner-blocks {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    padding: 5px 25px;
}

.CARP-block {
    width: 23%;
    background-color: #d887c3;
    border-radius: 15px;
}

.CARP-block:hover {
    background-color: #85cc79;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.363);
}

.CARP-title {
    color: white;
    font-weight: bold;
    padding: 2px 2px;
}

.CARP-txt {
    color: #630043;
    padding: 1px 15px;
    font-weight: bold;
}

@media only screen and (max-width: 1150px){
    .CARP-inner-blocks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px;
    }
    
    .CARP-block{
        width:40%;
        justify-content: center;
        margin: 10px;
    }

    .CARP-txt{
        font-size: 15px;
    }

    .CARP-title{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    .CARP-inner-blocks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px;
    }
    
    .CARP-block{
        width:40%;
        justify-content: center;
        margin: 10px;
    }

    .CARP-txt{
        font-size: 13px;
    }

    .CARP-title{
        font-size: 17px;;
    }
}

@media only screen and (max-width: 570px){
    .CARP-inner-blocks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1px;
    }
    
    .CARP-block{
        width:69%;
        height: 142px;
        justify-content: center;
        margin: 5px;
    }

    .CARP-txt{
        font-size: 11px;
    }

    .CARP-title{
        font-size: 15px;
    }

    #CARP-inner-title{
        font-size: 19px;
    }
}

@media only screen and (max-width: 320px){
    
    .CARP-block{
        width:75%;
        height: 138px;
        justify-content: center;
        margin: 5px;
    }

    .CARP-txt{
        font-size: 10px;
    }

    .CARP-title{
        font-size: 14px;
    }

    #CARP-inner-title{
        font-size: 16px;
    }
}